<article class="panel panel-success" >

  <%=
  link(
    "Edit…",
    to:    board_path(@conn, :edit, @note.id),
    class: "btn btn-primary pull-right btn-sm"
  )
  %>
  
  <header class="panel-heading">
    <h3><%= @note.title %></h3>
  </header>
  
  <div class="panel-body" >
    <%=  raw @note.body %>
  </div>
  
</article>
